* {
    box-sizing: border-box;
    font-family: monospace;
}
body {

    background-color: gold;
    animation: opacity 700ms ease-in;
}

 @keyframes opacity {
    0% {
        background-color: rgb(220, 199, 199);
        opacity: 0;
    }
    100% {
        background-color: gold;
        opacity: 1;
    }
} 

h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;

        
    @media(max-width: 550px) {
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    
}

p{
    font-size: 1.5rem;
}

.intro{
    display: flex;
    justify-content: space-around;
    padding: 0 10vw;
    margin-bottom: 2.5rem;
}

.mobile-response{
    display: flex;
    flex-direction: column;
    @media(max-width: 550px) {

        flex-direction: column-reverse;
    }
}

.board-wraper{
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.debrief{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.debrief__list{
    width: 30rem;
}


@keyframes board-load {
    from{transform: scale(.7);
         margin-top: -30vh;}
    70%{margin-top: .5vh;}
}

#board{
    animation: board-load 1s;
    margin-left: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
    
    @media(max-width: 550px) {
        transition: 1s;
        transform: scale(0.8);
        margin: 0;
    }

    @media (min-width:551px) and (max-width: 1399px){
        transition: 1s;
        transform: scale(1.1);
        margin-bottom: 2vh;
    }

    @media(min-width: 1400px){
        transition: 1s ease-in-out;
        transform: scale(1.2);
        margin: 0.8vh 0 7vh;
    }
}
#takeBack {

    background-color: black;
    color: azure;
    opacity: 0;
}
#watchEngine {

    background-color: black;
    color: azure;
    padding-left: 3px;
}
#watchRandom {

    background-color: black;
    color: azure;
    padding-left: 2px;
}
#playEngine {

    background-color: black;
    color: azure;
    padding-left: 3px;
}
#playHuman {

    background-color: black;
    color: azure;
    padding-left: 3px;
}
#changeTurn {

    background-color: black;
    color: azure;
    padding-left: 2px;

}
#turnBox{
    background-color: grey;
    color: white;

}
#checkBox{
    color: red;
    font-style: bold;
    font-size: 26px;

}
.square{
    height: 50px;
    width: 50px;
    border: 1px solid black;
}


#whitePawn1 {

    margin: 5px;
    position: absolute;
    top: 300px;
    left: 0px;
    height: 40px;
    width: 40px;

}
#whitePawn2 {

    margin: 5px;
    position: absolute;
    top: 300px;
    left: 50px;
    height: 40px;
    width: 40px;

}
#whitePawn3 {

    margin: 5px;
    position: absolute;
    top: 300px;
    left: 100px;
    height: 40px;
    width: 40px;

}
#whitePawn4 {

    margin: 5px;
    position: absolute;
    top: 300px;
    left: 150px;
    height: 40px;
    width: 40px;

}
#whitePawn5 {

    margin: 5px;
    position: absolute;
    top: 300px;
    left: 200px;
    height: 40px;
    width: 40px;

}
#whitePawn6 {

    margin: 5px;
    position: absolute;
    top: 300px;
    left: 250px;
    height: 40px;
    width: 40px;

}
#whitePawn7 {

    margin: 5px;
    position: absolute;
    top: 300px;
    left: 300px;
    height: 40px;
    width: 40px;

}
#whitePawn8 {

    margin: 5px;
    position: absolute;
    top: 300px;
    left: 350px;
    height: 40px;
    width: 40px;

}
#whiteLeftRook{

    margin: 5px;
    position: absolute;
    top: 350px;
    left: 0px;
    height: 40px;
    width: 40px;
}
#whiteLeftKnight{

    margin: 5px;
    position: absolute;
    top: 350px;
    left: 50px;
    height: 40px;
    width: 40px;
}
#whiteLeftBishop {

    margin: 5px;
    position: absolute;
    top: 350px;
    left: 100px;
    height: 40px;
    width: 40px;

}
#whiteQueen {

    margin: 5px;
    position: absolute;
    top: 350px;
    left: 150px;
    height: 40px;
    width: 40px;

}
#whiteKing {

    margin: 5px;
    position: absolute;
    top: 350px;
    left: 200px;
    height: 40px;
    width: 40px;

}
#whiteRightBishop {

    margin: 5px;
    position: absolute;
    top: 350px;
    left: 250px;
    height: 40px;
    width: 40px;

}
#whiteRightKnight{

    margin: 5px;
    position: absolute;
    top: 350px;
    left: 300px;
    height: 40px;
    width: 40px;
}
#whiteRightRook{

    margin: 5px;
    position: absolute;
    top: 350px;
    left: 350px;
    height: 40px;
    width: 40px;
}

#blackQueen {

    margin: 5px;
    position: absolute;
    top: 0px;
    left: 150px;
    height: 40px;
    width: 40px;

}
#blackKing {

    margin: 5px;
    position: absolute;
    top: 0px;
    left: 200px;
    height: 40px;
    width: 40px;

}
#blackLeftRook{

    margin: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 40px;
}
#blackLeftKnight{

    margin: 5px;
    position: absolute;
    top: 0px;
    left: 50px;
    height: 40px;
    width: 40px;
}
#blackRightKnight{

    margin: 5px;
    position: absolute;
    top: 0px;
    left: 300px;
    height: 40px;
    width: 40px;
}
#blackRightRook{

    margin: 5px;
    position: absolute;
    top:  0px;
    left: 350px;
    height: 40px;
    width: 40px;
}
#blackRightBishop{

    margin: 5px;
    position: absolute;
    top: 0px;
    left: 250px;
    height: 40px;
    width: 40px;
}
#blackLeftBishop{

    margin: 5px;
    position: absolute;
    top: 0px;
    left: 100px;
    height: 40px;
    width: 40px;
}
#blackPawn1{

    margin: 5px;
    position: absolute;
    top: 50px;
    left: 0px;
    height: 40px;
    width: 40px;
}
#blackPawn2{

    margin: 5px;
    position: absolute;
    top: 50px;
    left: 50px;
    height: 40px;
    width: 40px;
}
#blackPawn3{

    margin: 5px;
    position: absolute;
    top: 50px;
    left: 100px;
    height: 40px;
    width: 40px;
}
#blackPawn4{

    margin: 5px;
    position: absolute;
    top: 50px;
    left: 150px;
    height: 40px;
    width: 40px;
}
#blackPawn5{

    margin: 5px;
    position: absolute;
    top: 50px;
    left: 200px;
    height: 40px;
    width: 40px;
}
#blackPawn6{

    margin: 5px;
    position: absolute;
    top: 50px;
    left: 250px;
    height: 40px;
    width: 40px;
}
#blackPawn7{

    margin: 5px;
    position: absolute;
    top: 50px;
    left: 300px;
    height: 40px;
    width: 40px;
}
#blackPawn8{

    margin: 5px;
    position: absolute;
    top: 50px;
    left: 350px;
    height: 40px;
    width: 40px;
}
