*{
  box-sizing: border-box;
}

body{
    background-color: blanchedalmond;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    animation: opacity 300ms ease-in;
}

a {
  text-decoration: none;
  color: black;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#headshot{
  width: 20vh;
  border-radius: 100%;
}


  input, textarea {
    background-color: rgba(255, 217, 0, 0.6);
    border: 1px solid #ccc;
    padding: 8px;
  }

#nav{
    border: black solid 2px;
    background-color: green;
    opacity: .8;
    min-height: 60px;
    height: 10vh;
    width: 100vw;
    padding: 1vh;
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
}
 @media (max-width: 700px) {
  #nav{
    padding-left: 100px;
  }
  
} 

.nav-button{
  border: black solid 2px;
  background-color: gold;
  margin: 8px 10px 5px 10px;
  padding: 10px 5px 0px 5px;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.flex-div{
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.button:hover {
  background-color: #45a049;
}

.button:active {
  background-color: #3e8e41;
}



#main-about{
    height: 89vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}


#about-blurb{
    position: absolute;
    border: black solid 2px;
    border-radius: 4px;
    background-color: aqua;
    padding: 10px;
    opacity: .9;
    height: 60vh;
    width: 70vw;
    top: 6vh;
    left: 6vw;
    z-index: 2;
    overflow: scroll;

    animation: move-blurb 1.5s;
}

@media (min-width: 700px) {
  #about-blurb{
    height: initial;
  }
  
}

@keyframes move-blurb {
  0% { transform: translate(-20vh, -5vw); }
}

#project-rundown{
  border: black solid 2px;
  border-radius: 10px;
  padding: 10px;
  background-color: aqua;
}

#work-life-blurb{
  border: black solid 2px;
  max-width: 800px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: aqua;
}

#about-image{
    position: absolute;
    border: black solid 2px;
    border-radius: 100px;
    background-color: aqua;
    opacity: .8;
    width: 38vw;
    height: 20vh;
    top: 60vh;
    left: 60vw;
    z-index: 1;
    animation: move-image 1s;
}

@keyframes move-image {
  0% { transform: translate(30vh, 20vh); }
}
#about-icon1{
    position: absolute;
    width: 78vw;
    height: 20vh;
    background-color: green;
    border-radius: 25px;
    top: 10vh;
    left: 40vh;
    animation: move-icon1 .8s;
}

@keyframes move-icon1 {
  0% { transform: translate(-20vw, -20vh); }
}

#about-icon2{
    position: absolute;
    width: 70vw;
    height: 12vh;
    background-color: green;
    border-radius: 0 25px 25px 0;
    top: 65vh;
}


#about-icon3{
    position: absolute;
    width: 10vw;
    height: 60vh;
    background-color: gold;
    border-radius: 100px 0 0 0;
    top: 30vh;
    left: 20vw;
    animation: move-icon3 3s;
    z-index: 1;
}

@keyframes move-icon3 {
  0% { transform: translate(0, 200vh); }
}


#cert-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}

.cert{

  border: black solid 2px;
  padding: 10px;
  border-radius: 6px;
  background-color: aqua;

}

#contact-box{
    display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10vw;
}
@media (max-width: 700px) {
  #cert-grid {
    grid-template-columns: repeat(1, 8fr);
  }
}

footer{
  bottom: 0;
  background-color: green;
  display: flex;
  justify-content: space-around;
}